### Load 'titanic_train.csv' CSV file and save last 5 rows in Excel format

In [24]:
import pandas as pd

In [29]:
df = pd.read_csv("../files/titanic_train.csv")
df.tail(5).to_excel("../files/titanic_train.xlsx")
data = pd.DataFrame(df)
data.Age.mean()

29.69911764705882

### Load Excel file from previous exercise and save it again with only first four columns

In [26]:
import xlrd
df = pd.read_excel("../files/titanic_train.xlsx")
df.iloc[:, :, 4].to_excel("../files/last_5_4cols.xlsx")

ModuleNotFoundError: No module named 'xlrd'

In [22]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Test how loc and iloc works (be creative :) )

### Załaduj plik csv z `titanic_train.csv` z folderu `files_pandas_21_01_2017`

#### Sprawdź pierwsze wiersze

#### Policz wystąpienia wartości zmiennej survived

#### Sprawdź typy danych

In [18]:
df = pd.read_csv("../files/titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Wróćmy do wykładu - Zmiana typów danych w czasie odczytu

## Exercises

### Load 'titanic_train.csv' file, with category type for all columns that are compatible with this type.

### Fill NaN values in Age column with mean value of this column.

### Fill NaN values in Embarked with most common location.

### Create 3 Series with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

### Display passengers with Age above 50

In [27]:
data[data.age > 50]

### Display passengers that Embarked at location S and are female

### Display passengers that paid for ticket more than 50 and are not in first class

### Display all passengers with Names that contain 'Johnson' (it's a surname)

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.\
2. Znajdź 10 meczów z największą różnicą bramek.
3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.
4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.

In [31]:
data = pd.read_csv("../files/matches.csv", parse_dates=["date"])
data.head()

,country,league,home_team,away_team,date,season,home_team_goal,away_team_goal
0,Belgium,Belgium Jupiler League,KRC Genk,Beerschot AC,2008-08-17,2008/2009,1,1
1,Belgium,Belgium Jupiler League,SV Zulte-Waregem,Sporting Lokeren,2008-08-16,2008/2009,0,0
2,Belgium,Belgium Jupiler League,KSV Cercle Brugge,RSC Anderlecht,2008-08-16,2008/2009,0,3
3,Belgium,Belgium Jupiler League,KAA Gent,RAEC Mons,2008-08-17,2008/2009,5,0
4,Belgium,Belgium Jupiler League,FCV Dender EH,Standard de Liège,2008-08-16,2008/2009,1,3

In [34]:
data[
    ((data.home_team == 'Legia Warszawa') | (data.away_team == 'Legia Warszawa')) &
    ((data.home_team == 'Lecha Poznań') | (data.away_team == 'Lech Poznań'))
]

,country,league,home_team,away_team,date,season,home_team_goal,away_team_goal
15861,Poland,Poland Ekstraklasa,Legia Warszawa,Lech Poznań,2009-04-26,2008/2009,1,1
16188,Poland,Poland Ekstraklasa,Legia Warszawa,Lech Poznań,2009-09-25,2009/2010,2,0
16419,Poland,Poland Ekstraklasa,Legia Warszawa,Lech Poznań,2010-09-24,2010/2011,2,1
16596,Poland,Poland Ekstraklasa,Legia Warszawa,Lech Poznań,2012-04-21,2011/2012,0,1
16836,Poland,Poland Ekstraklasa,Legia Warszawa,Lech Poznań,2013-05-18,2012/2013,1,0
17088,Poland,Poland Ekstraklasa,Legia Warszawa,Lech Poznań,2014-03-29,2013/2014,1,0
17172,Poland,Poland Ekstraklasa,Legia Warszawa,Lech Poznań,2014-09-27,2014/2015,2,2
17440,Poland,Poland Ekstraklasa,Legia Warszawa,Lech Poznań,2015-10-25,2015/2016,0,1

In [37]:
#2
df = pd.read_csv("../files/matches.csv", parse_dates=["date"])

In [41]:
df['goal_diff']=(df.home_team_goal - df.away_team_goal).abs()
df.sort_values('goal_diff', ascending = False).head(10)

,country,league,home_team,away_team,date,season,home_team_goal,away_team_goal,goal_diff
13898,Netherlands,Netherlands Eredivisie,PSV,Feyenoord,2010-10-24,2010/2011,10,0,10
7660,France,France Ligue 1,ES Troyes AC,Paris Saint-Germain,2016-03-13,2015/2016,0,9,9
20161,Scotland,Scotland Premier League,Celtic,Aberdeen,2010-11-06,2010/2011,9,0,9
9761,Germany,Germany 1. Bundesliga,FC Bayern Munich,Hamburger SV,2015-02-14,2014/2015,8,0,8
22984,Spain,Spain LIGA BBVA,FC Barcelona,CA Osasuna,2011-09-17,2011/2012,8,0,8
22310,Spain,Spain LIGA BBVA,UD Almería,FC Barcelona,2010-11-20,2010/2011,0,8,8
2420,England,England Premier League,Chelsea,Wigan Athletic,2010-05-09,2009/2010,8,0,8
24015,Spain,Spain LIGA BBVA,Real Madrid CF,Granada CF,2015-04-05,2014/2015,9,1,8
24247,Spain,Spain LIGA BBVA,Real Madrid CF,Rayo Vallecano,2015-12-20,2015/2016,10,2,8
4375,England,England Premier League,Southampton,Sunderland,2014-10-18,2014/2015,8,0,8

In [43]:
#3.
team = 'Legia Warszawa'

In [ ]:
team_matches = df[(df.home_team == team) | (df.away_team == team)]
team_matches.reset_index(inplace = True)
team_matches